NODE_ENV=development
PORT=3000
SWAGGER_SERVER_URL=http://localhost:3000/api/v1
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-private-key-here\n-----END PRIVATE KEY-----\n"
